.ImageUploader_image {
    /*border: 3px solid #666;
    background-color: #ddd;*/
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}
.ImageUploader_image.over {
    border: 3px dotted #666;
}
.ImageUploader_img_between {
    width: 30px;
    /*height: 100%;*/
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}
.ImageUploader_img_between.over .droppable {
    outline: none;
    border-color: #008eff;
    border-radius: 40px;
    box-shadow: 0px 0px 2px #008eff;
    background-color: #a1d6ff;
    height: 100%;
    width: 2px;
    margin: auto;
}