@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.brand-logo{
    margin-left: 10px;
}
.full-width{
    width: 100%;
}
.navbar.bg-dark{
    border: 0px solid #282828;
}
.note-toolbar-wrapper{
    /*height: 38px !important;*/
    background-color: #f1cd31 !important;
    border-radius: 10px 10px 0px 0px;
}
.table td {
    vertical-align: middle;
}
.ml-20{
    margin-left: 20px;
}
.del_img{
    display: inline-block;
    float: right;
}
.img_name{
    display: inline-block;
}
.img_btn{
    padding: 8px;
    cursor:pointer;
}
.img_li, .img_p {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
}
.prev_img {
    height: 64px;
    order: 1;
}
.img_p {
    line-height: 32px;
    padding-left: 10px;
}
div.preview > ol {
    padding-inline-start: 0px;
}
.SMTitemsSM, .SMTitemsLG {
    width: 24.6%;
    height: 43.5px;
    display: inline-flex;
}
.SMTitemsLG {
    min-width: 66%;
}
.td-20{
    width: 20%;
}
.inline-items{
    display: inline-block;
}
.top-data {
    display: inline-flex;
}
.tabTXT {
    color: white !important;
    text-align: initial;
}
.notFound{
    background: dimgray;
    border-radius: 200px;
    box-shadow: 0 0 110px 5px dimgrey;
}
.itemSMimg{
    min-width: 70px;
}
.formattedCell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.SMTlocatiton{
    display: inline-flex;
    width: 74.9%;
    margin: 5px 0 5px 0;
}
.POStalble{
    width: 16%;
}
.ul-center {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.catalog-img{
       width: 50px;
       height: 50px;
       min-width: 50px;
   }
.preloader-text{
    position: absolute;
    top: 53%;
    left: 49%;
    margin-left: -6px;
}

.loaderArea {
    /*background-color: black;*/
    /*background: linear-gradient(120deg, #2A9FD6 30%, #9933CC 90%);*/
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
}
.loader {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.loader:before,
.loader:after {
    content: "";
    height: 40px;
    width: 40px;
    /*border: 8px solid rgba(255,255,255,.3);
    border-radius: 10px;*/
    position: absolute;
    top: 0;
}

/*.loader:before {
    animation: animate 2s infinite linear;
}

@keyframes animate {
    0% {
        transform: rotate(0) skew(0);
    }

    100% {
        transform: rotate(360deg) skew(0deg);
    }
}


.loader:after {
    animation: animate 2s infinite linear;
}*/
.preloaderProgress-text{
    position: absolute;
    top: 53%;
    left: 49%;
    margin-left: -6px;
}

.loaderAreaProgress {
    display: none;
    background-color: black;
    /*background: linear-gradient(120deg, #2A9FD6 30%, #9933CC 90%);*/
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
}
.loaderProgress {
    display: none;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.loaderProgress:before,
.loaderProgress:after {
    content: "";
    height: 40px;
    width: 40px;
    /*border: 8px solid rgba(255,255,255,.3);
    border-radius: 10px;*/
    position: absolute;
    top: 0;
}

.loaderProgress:before {
    animation: animate 2s infinite linear;
}
.loaderProgress:after {
    animation: animate 2s infinite linear;
}
.form-small{
    height: 35px !important;
}
.form-img-delete{
    position: absolute;
    margin-top: 2px;
}

.hr-cat{
    margin: 0 !important;
    border: 1px solid;
}


.doubleInput{
    width: 41.6%;
    display: inline-flex;
}

/* HIDE RADIO */
.only[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

}

/* IMAGE STYLES */
.only[type=radio] + img {
    cursor: pointer;
    webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* CHECKED STYLES */
.only[type=radio]:checked + img {
    /*transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);*/
    transform:rotate(360deg);
    transition: transform 1s ease-out;
    animation: animate1 0.05s 1.2s 10;

    /*animation: animate1 0.5s infinite linear;*/
}
.only[type=radio]:not(:checked) + img {
    transform:rotate(180deg) translateY(-3px);
    transition: transform 1s ease-out;
}

@keyframes animate1 {
    0% {
        transform: rotate(-7deg) skew(0);
    }

    100% {
        transform: rotate(7deg) skew(0deg);
    }
}


.p-Ico{
    /*animation: animate1 0.07s 1.2s infinite linear;*/
}

#customToast{
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 2222;
}

.hover {
    background-color: #007bff;
}
.image-primary-preview{
    position: absolute;
    left: 7%;
    bottom: 0.7%;
    background-color: #007bff;
    border-radius: 0 0 3px 3px;
    width: 86.3%;
    text-align: center;
    opacity: 0.8;
    color: white;
}

.note-toolbar-wrapper{
    /*height: 38px !important;*/
    background-color: #f1cd31 !important;
    border-radius: 10px 10px 0px 0px;
}
.table td {
    vertical-align: middle;
}
.ml-20{
    margin-left: 20px;
}
.del_img{
    display: inline-block;
    float: right;
}
.img_name{
    display: inline-block;
}
.img_btn{
    padding: 8px;
    cursor:pointer;
}
.img_li, .img_p {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
}
.prev_img {
    height: 64px;
    order: 1;
}
.img_p {
    line-height: 32px;
    padding-left: 10px;
}
div.preview > ol {
    padding-inline-start: 0px;
}
.SMTitemsSM, .SMTitemsLG {
    width: 24.6%;
    height: 43.5px;
    display: inline-flex;
}
.SMTitemsLG {
    min-width: 66%;
}
.td-20{
    width: 20%;
}

.tabTXT * {
    color: white !important;
    text-align: left !important;
}
.notFound{
    background: dimgray;
    border-radius: 200px;
    /* box-shadow: 0 30px 40px rgba(0,0,0,.1); */
    /* border-image: linear-gradient(red, transparent) 1; */
    box-shadow: 0 0 110px 5px dimgrey;
}
.itemSMimg{
    min-width: 70px;
}
.formattedCell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}
.SMTlocatiton{
    display: inline-flex;
    width: 74.9%;
    margin: 5px 0 5px 0;
}
.POStalble{
    width: 16%;
}
.info {
    color: white;
    font:1em/1 sans-serif;
    text-align: center;
}

.info a{
    color: white;
}

#filter_text1 {
    filter: url(#filter1);
    fill: white;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 170px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#filter_text2 {
    filter: url(#filter2);
    fill: white;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 170px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.status_box{
    width: 32px !important;
    height: 100%;
    padding: 2px;
    border: 4px solid;
    background-clip: content-box;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1a1e28;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.svg_cat{
    height: 15px !important;
    width: 15px !important;
}

@media screen and (max-width: 767px) {
    #myBtn {padding: 10px 5px 10px 5px !important;}
}

#myBtn {
    opacity: 0.2;
    display: none;
    position: fixed;
    bottom: 3px;
    right: 3px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 14px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}
.img_home_fit{
    max-height: 200px;
    object-fit: scale-down;
}
.img_view_fit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    object-fit: scale-down;
}
#image_modal_body > .img_view_fit{
    width: auto;
    height: auto;
}